.App {
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

.btn {
  font-size: 20px;
  border: 0px;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid rgb(0, 0, 255);

}

.align{
  display: flex;
  justify-content: center;
}

